body,html{
    margin: 0;
    padding:0;
    box-sizing: border-box;
   }
   .overlay {
        height: 100vh;
        font-size: 2vw;  
    
    }
    .parent{
        height: 100vh;
        clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
    }
    .child {
        position: relative;
        top:-100vh;
        height: 100vh;
    }
    .content{
        height: 100vh;
        width: 100%;
        position: fixed;
        /* position: sticky; */
        /*position stikcy doesn't work with lenis  */
        background-color: pink;
    }
    a{
        text-decoration: none;
        font-size: 4vw;

    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: center;
    }